# This is Git's per-user configuration file.
[user]
	name = Nicholas Doorlay
	email = nicholas@doorlay.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[branch]
	autoSetupRebase = always
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
	useForceIfIncludes = true
[rebase]
	abbreviateCommands = true
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
  autoUpdate = true
  enabled = true
