# This is Git's per-user configuration file.
[user]
	name = Nicholas Doorlay
	email = nicholas@doorlay.com
# Please adapt and uncomment the following lines:
#	name = Nic Doorlay
#	email = ndoorlay@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
